.row {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 800px;
}

.phone {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  display: flex;
  flex-direction: column;
  height: 130px;
  align-items: center;
  justify-content: center;
}
